#education_title {
    color: black;
}
#education_div university_name {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

#education_div  #degree_title{
    color: black;
    font-size: 1.3rem;
}
#education_div #bachelor grade {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
}
#education_div #bachelor grade gr_number {
    font-weight: normal;
}
#education_div #bachelor thesis{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

#education_div #bachelor thesis th_desc{
    font-weight: normal;
    font-size: 1.3rem;
}

#education_div #relevant_course{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}
#education_div #concentration_field {
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

#education_div desc {
    color: black;
    font-weight: normal;
    font-size: 1.3rem;
}