/* src/components/Header.css */
header {
    background-color: #b4a729;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-brand a {
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-menu li {
    margin: 0 10px;
}

.navbar-menu li a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.navbar-menu li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar-toggler {
        display: block;
        background: none;
        border: none;
        color: #000000;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
